@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: white;
    /* border: none; */
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}